
# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.bak
*.swp
*~.nib

# Spring Boot specific
spring-boot-*.pid

# Inne
README.md
LICENSE
readme_assets